*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 50px 60px;
}
.App-header p{
  font-size: 40px;
  font-weight: 500;
  filter: invert(1);
}
.App-header nav a{
  margin: 0px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}
.App-header .manu-bar img{
  width: 20px;
  filter: invert(1);
}
.video-hero{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -22;
}
